<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</head>
<body>
<form method="get" th:action="@{/materias/}">
    <label for="email">Email</label>
    <input class="form-control" type="text" name="email" id="email">
    <label for="age">Age</label>
    <input class="form-control" type="number" name="age" id="age">
    <button class="btn btn-primary" type="submit">Search</button>
</form>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Profesor</th>
        <th scope="col">Alumnos</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="materia: ${materias}">
        <td th:text="${materia.getId()}"></td>
        <td th:text="${materia.getName()}"></td>
        <td th:text="${materia.getProfesor().getName()}"></td>
        <td th:each="alumno: ${materia.getAlumnos()}">
            <dd th:text="${alumno.getName()}"></dd>
        </td>

        <td><a th:href="@{/materias/edit/{id}(id=${materia.getId()})}">Edit</a></td>
        <td><a th:href="@{/materias/delete/{id}(id=${materia.getId()})}">Delete</a></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/materias/register}">New Materia</a>
</body>
</html>